{% extends 'admin/layout.html.twig' %}


{% block body %}
    <div class="errors">
        {{ form_errors(form) }}
    </div>
    {{ form(form) }}

    {{ form_start(form, {attr: {class: 'new-form'} }) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}