{% extends 'base.html.twig' %}


{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 left-bar">
                <ul class="nav_categories">
                    {% for parentCategory in parentCategories %}
                        <li>{{ parentCategory.getName() | e }}
                            <ul>
                                {% for childCategory in parentCategory.getChildren() %}
                                    <li>{{ childCategory.getName() | e }}</li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
            </div>


            <div class="col-md-9 col-xs-12 content">
                <div class="row wrapper-product">
                    {% for product in products %}
                        <a href="{{ path('products_default_single', {id:product.id}) }}" class="col-md-4 col-sm-6 col-xs-12 item-product">
                            <figure>
                                <img src="{{ asset('uploads/images/products/'~product.image|e )  }}" alt="{{ product.titre }}">
                                <figcaption>{{ product.titre }}</figcaption>
                            </figure>

                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>


{% endblock %}

