{% extends 'base.html.twig' %}


{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 left-bar">
                <ul class="nav_categories block">
                    {% for parentCategory in parentCategories %}
                        <li>{{ parentCategory.getName() | e }}
                            <ul>
                                {% for childCategory in parentCategory.getChildren() %}
                                    <li><a href="{{ path('') }}">{{ childCategory.getName() | e }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
            </div>


            <div class="col-md-9 col-xs-12 content ">
                <div class=" wrapper-product block">
                    <div class="col-md-4">
                        <img src="{{ asset('uploads/images/products/'~product.image|e )  }}" alt="{{ product.titre }}">
                    </div>
                    <div class="col-md-8">
                        <h1>{{ product.titre }}</h1>
                        <p>{{ product.description }}</p>
                        <p>{{ product.price }} €</p>
                    </div>
                </div>

                <div class="rates block ">
                    <h2>Avis pour {{ product.titre }}</h2>
                    {% if rates is empty %}
                        <p>Aucun avis pour le moment</p>
                    {% else %}
                        {% for rate in rates %}
                            <div class="item-rate   col-xs-12">
                                <div class="header-item-rate">
                                    <div>
                                        <span class="font-weight-bold">{{ rate.user.username }}</span>
                                        <span class="date">{{ rate.date|date('d-m-Y') }}</span>
                                    </div>
                                    <div>
                                         {{ rate.score}} / 5
                                    </div>
                                </div>
                                <div class="description">
                                    {{ rate.description }}
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                    <div class="errors">
                        {{ form_errors(form) }}
                    </div>
                    {{ form(form) }}

                    {{ form_start(form, {attr: {class: 'rates-form'} }) }}
                    {{ form_widget(form) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}