{% extends 'admin/layout.html.twig' %}


{% block body %}
    <table class="table products_table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>image</th>
            <th>Categorie</th>
            <th>Supprimer</th>
            <th>Editer</th>
        </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.titre }}</td>
                <td>{{ product.price }} €</td>
                <td><img src="{{ asset('uploads/images/products/'~product.image|e )  }}" alt="{{ product.titre }}"></td>
                <td>
                    {% for category in product.categories %}
                        {{ category.name }}
                    {% endfor %}

                </td>
                <td> <a href="{{ path('dab-remove-product', {id:product.id}) }}"> Supprimer</a></td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
{% endblock %}